@mixin border-box() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($t) {
    -webkit-transition: $t;
    -moz-transition: $t;
    transition: $t;
}

@mixin transition2($t1, $t2) {
    -webkit-transition: $t1, $t2;
    -moz-transition: $t1, $t2;
    transition: $t1, $t2;
}
